.all__feeds{
    width: 60%;
    margin-top: 60px;
}
.feeds{
    padding: 10px;
    margin-left: auto;
    width: 68%;
}
@media only screen and (min-width: 240px) and (max-width: 480px){
    .all__feeds{
        width: fit-content;
    }
    .feeds{
        width: fit-content;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .all__feeds{
        width: fit-content;
    }
    .feeds{
        width: fit-content;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .all__feeds{
        width: 70%;
    }
    .feeds{
        width: fit-content;
    }
}