.all__widget{
    margin-right: auto;
    width: 90%;
}
.widget{
    width: 25%;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -110px;
}
.widget__up{
    display: flex;
    width: 100%;
}
.widget__suggest{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.widget__up__name > h4, .widget__up__name > p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
.widget__up__switch{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: #38abf7;
    font-size: 13px;
}

.p__widget {
    margin-left: auto;
    width: 27%;
    color: rgba(0, 0, 0, 0.247);
    font-size: 12px;
}

@media only screen and (min-width: 240px) and (max-width: 480px){
    .widget{
        display: none;
    }
    .p__widget{
        display: none;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .widget{
        display: none;
    }
    .p__widget{
        display: none;
    }
}
